.main-notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #eee;
}

.texto-notFound {
    text-align: center;
    color: black;
    font-weight: 300;
    font-family: "Fira Sans", sans-serif;
    font-size: 28px;
    font-weight: 50;
}

@media (max-width: 640px) {
    .texto-notFound {
        font-size: 20px;
    }
}

