.containerPopu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.tituloPopu {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
    text-align: center;
}

.buscadorPopu {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    border-radius: 20px;
    margin-top: -10px;
}

.buscadorPopu input {
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-style: italic;
}

.cargarMas button {
    all: unset;
    background-color: black;
    width: 91%;
    padding: 0.6%;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-weight: 200px;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    text-align: center;
}

.cargarMas {
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

@media (max-width: 640px) {
    .cargarMas {
        width: 80%;
        display: flex;
        justify-self: center;
    }

}