.populares{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.verTodas{
    text-align: center;
}

.tituloPopu{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
    margin-left: 4%;
}