.GrupoPeliculas{
    font-family: "DM Serif Display", serif;
    gap: 20px; 
    margin-bottom: 30px;
}
.GrupoPeliculas h2 {
    margin-bottom: 10px;
}

ul.peliculas {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 0;
    list-style: none;
}

.pelicula {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    min-width: 200px;
    max-width: 300px;
    flex: 1;
}
.PeliculasPopulares{
    font-family: "DM Serif Display", serif;
}

.PeliculasCartelera{
    font-family: "DM Serif Display", serif;
}
