.cartelera{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.verTodasCart {
    background-color: black;
    width: 91%;
    padding: 0.6%;
    border-radius: 20px;
    text-align: center;
  }

  .verTodasCart a {
    text-decoration: none;
    color: white;
    font-weight: 200px;
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
   
  }

  .containerBotonCart{
    display: flex;
  justify-content: center;
  margin-bottom: 2%;
  }