.containerCard {
    width: 15.8%;
    margin-right: 2%;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    margin: 10px;
    padding: 10px;
    border: 1px solid #000000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 12px;

}

.tituloCard {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 0;

}

.verDesc button {
    all: unset;
    padding: 2%;
}

.verDesc {
    font-size: 14px;
    text-decoration: underline;
}

.verDesc button {
    font-size: 14px;
    text-decoration: underline;
    all: unset;
    margin-bottom: 2%;
}

.descr {
    text-align: center;
    font-style: italic;
    color: #333;
    
}

.botonesHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.botonesHome button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    font-family: "Fira Sans", sans-serif;
    background-color: #1e1e1e;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5%;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.botonesHome a {
    text-decoration: none;
}